.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
vite.config.mts
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/*.tsx
**/.vscode-test.*
__mocks__
**/__snapshots__
test-workspace/**
coverage
.github
jest.config.js
tsconfig.eslint.json
tsconfig.json
.eslintignore
