.vscode/**
node_modules/**
src/**
.gitignore
.yarnrc
vite.config.mts
vitest.config.mts
vitest.setup.ts
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
__mocks__
**/__snapshots__
test-workspace/**
coverage
.github
tsconfig.eslint.json
tsconfig.json
.eslintignore
.nvmrc
.prettierignore
agents.md
